@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

canvas 
  display block;
  margin: 0 auto
  border: 1px solid black
  margin-bottom: 20px;

h1 
  display: none
  text-align: center;
  font-size: 3.5rem;
  margin: 10px 0 0 0;

h2
  display: none
body
  text-align: center;
