@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

canvas 
  display block;
  margin: 0 auto
  border: 1px solid black
  margin-bottom: 20px;
  //cursor: none

h1 
  text-align: center;
  font-size: 2.8rem;
  margin: 10px 0 0 0;

h2
  font-size: 1.3rem
  margin 15px 0

body
  text-align: center;
