@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

#wall 
  position: absolute
  margin: 0 auto

h1 
  text-align: center;

#spotlight
  position: absolute
  margin: 0 auto

body
  text-align: center;
